body {
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    overflow-y: scroll;
}
.cardBas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
        padding: 0;

        li {
            list-style-type: none;

            .product {
                background-color: white;

                width: max-content;
                border: 1px ridge gray;
                display: flex;
                padding: 5px;
                margin-top: 10px;

                .image {

                    img {
                        width: 90px;

                    }

                }

                .info-add {
                    .info {
                        font-size: 12px;
                    }
                }

                .delete {

                    .deleteIcon {
                        width: 20px;
                        height: 20px;
                        color: red;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.priceTotal{
    color: white;
    border: 1px solid black;
    background-color: gray;
    padding: 10px
}